<html>
  <head>
    <title>{% block title %}Intercache{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"> <!-- This may use W3.CSS lbraries. Documentation is available here: https://www.w3schools.com/w3css -->
    <meta name="google-site-verification" content="OZYrvsO-3_GPwSAmh7yHeOuZItT--mDtBgPExUk4Hlc" /> <!-- Google Search Console Stuff THIS IS NOT FOR TRACKING-->
    {% block head %}{% endblock %}
  </head>
  <body class="w3-mobile">
    <div class="w3-bar w3-deep-purple w3-card-4" style="position: fixed;">
      <a onclick="history.back();" class="w3-bar-item w3-button">🡰</a>
      <a class="w3-bar-item">{% block header %}Hamster{% endblock %}</a>
      {% block nav %}{% endblock %}
    </div>
    <div class="w3-bar">
      <a class="w3-bar-item">Hamster</a>
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    {% block notice %}
    <div id="notice" class="w3-panel w3-light-blue w3-round-large">
      <p>This website / service is work in progress. This website may use JavaScript.
        Source is available on <a href="https://gitlab.com/transference/hamster/app">GitLab</a>. This website may use cookies.
        By continuing to use the site, you agree to the possible use of cookies.</p>
    </div>
    {% endblock %}
    {% for notice in notices %}
    <div class="w3-panel w3-light-blue w3-round-large">
      <p>{{ notice['text'] }}</p>
    </div>
    {% endfor %}
    <div class="w3-bar w3-deep-purple w3-card-4" style="bottom: 0; position: fixed;">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/near" class="w3-bar-item w3-button">Nearby</a>
      <a href="/fav" class="w3-bar-item w3-button">Favourites</a>
      <a href="/hamster/pick" class="w3-bar-item w3-button">Agencies</a>
    </div>
  </body>
</html>