{% extends "base.html" %}


{% block title %}
Mauratus
{% endblock %}

{% block header %}
Mauratus
{% endblock %}

{% block nav %}
<a href="/hamster/pick" class="w3-bar-item w3-button">Route</a>
<a href="/about" class="w3-bar-item w3-button">About</a>
{% endblock %}

{% block content %}
{% endblock %}